@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  scroll-behavior: smooth;
}

html {
  overflow-y: scroll;
}

h1 {
  @apply text-3xl sm:text-4xl text-title font-semibold !leading-none;
}

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 83%;
    --title: 0 0% 99%;
    --border: 240 3.7% 20%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
