---
import { ChevronUpIcon } from "@radix-ui/react-icons";
---

<footer class="mt-20 py-4 border-t">
    <div class="max-w-2xl mx-auto flex justify-between items-center px-4 sm:px-2">
        <span> Onassis Salinas @ 2024</span>
        <a href="#" class=""><ChevronUpIcon /> <span class="sr-only">Inicio</span></a>
    </div>
</footer>
