---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Onassis Docs" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body class="relative">
    <main class="max-w-2xl mx-auto z-10 space-y-20 px-4 sm:px-2">
      <slot />
    </main>
  </body>
</html>

<style></style>
