---
interface Props {
  title: string;
  locale: string;
}

const { title, locale } = Astro.props;

import Background from "@/components/Background.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
import { t } from "../i18n/helper";
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t(locale, "meta_description")} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body class="relative">
    <Background />
    <Header locale={locale} />
    <main class="max-w-2xl mx-auto z-10 space-y-20 px-4 sm:px-2">
      <slot />
    </main>
    <Footer />
  </body>
</html>
